# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*


// .env
REACT_APP_FIREBASE_KEY="AIzaSyA8LRF8Bad0r0Iw3ViaebsXiLDbKdee9QQ"
REACT_APP_FIREBASE_DOMAIN="parkr-23aa4.firebaseapp.com"
REACT_APP_FIREBASE_DATABASE="https://parkr-23aa4.firebaseio.com"
REACT_APP_FIREBASE_PROJECT_ID="parkr-23aa4"
REACT_APP_FIREBASE_STORAGE_BUCKET="parkr-23aa4.appspot.com"
REACT_APP_FIREBASE_SENDER_ID="555038020972"
