$main_color:#52Bf90;
$font_color:#fff;
$font_size: 16px;


.footer{
    width: 100%;
    min-width: 124rem;
    padding:0rem 7rem;
    bottom: 0px;
    background: #52Bf90;
    &__incLog{
        padding: 2.4rem 0rem;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;

    }
    &__inner{
        padding:0rem 7rem;
        max-width: 154rem;
        margin:0 auto;
        .footer__main{
            padding-top:5rem;
            display: flex;
            align-items: end;
            justify-content: space-between;
          }
      }

      &__border{
        border:#ffffff82 solid 1px;
        width: 100%;
        margin:4rem 0rem 0rem;
      }&__container {
        position: relative;
        margin-top: 7rem;
        margin: 0 auto;
        width: 100%;
        min-width: 124rem;
        max-width: 154rem;
        padding: 0rem 7rem;
      }
      &__container {
        position: relative;
        margin-top: 7rem;
        margin: 0 auto;
        width: 100%;
        min-width: 124rem;
        max-width: 154rem;
        padding: 0rem 7rem;
      }&__sns{
        display: flex;
        flex-direction: column;
      }
      &__sns h2 {
        letter-spacing: 0.2rem;
        color:#fff;
        font-size: 2rem;
      }
      &__inc {
        color: #f2f2f2;
       }
       &__bk {
        min-width: 110rem; }
        .footerLogo__inner{
            width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
          }
          .footer__itemsRtght{
            display: flex;
          }





.sociallogo__footer{
    display: flex;
    align-items: center;
    height: 0rem;
  }




.footer__sp__log{
    align-items:center;
    display: flex;
    padding: 1rem 0rem;
}

.footer__contents {
    position: relative;
    align-items: flex-end;
    display: flex;
    justify-content: space-between;
    margin-bottom: 6rem;
    padding-top: 9rem;
    padding-left: 2rem; }


  .footer__item {
    text-align: left;
    /* padding-left: 1rem; */
    padding-bottom: 0.8rem; }

  .footer__white {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #ffffff;
    opacity: 0.8; }

  .footer__h2 {
    padding-bottom: 1.5rem;
    font-size: 1.6rem; }

  .footer__items {
    text-align: right; }

  .footer__items li {
    font-size: 1.4rem; }

  .footer__content h2 {
    font-weight: 700;
    color: #f2f2f2; }

  .footer__content {
    margin-right: 7rem; }

  .footer__items ul li {
    color: #f2f2f2; }

    .footer__Log{
        margin-left: -1rem;
      }

}



@media screen and (max-width: 480px) {

    .HomeParkSearch__Location p{
      font-size: 1.4rem !important;
    }.footer__inner{
      padding:unset;
    }

    .footer__detail,
    .sns-login__items,
    small {
      display: none; }


      .footer {
        padding:0rem 1.8rem;
        position: relative;
        width: 100vw;
        min-width: 100VW;
        height: 100%; }

        .footer__main{
            padding-top: 3rem;
            flex-direction: column;
          }
          .footer__Log{
            margin:unset;
          }
          .footer__itemsRtght {
            display: flex;
            flex-direction: column;
        }


        .footer__incLog{

            display: flex;
            align-items: center;
            justify-content: space-between;
          }
          .footer__inc {
            min-width: unset;
            text-align: center;
            color: #f2f2f2;
            padding-right: 1rem;
          }
          .footer__Log{
            margin-bottom: 1.6rem;
          }
          .footer__rule{
            margin-top:0rem;
            display: flex;
            flex-direction: column;
          }
          .footer__rule p{
            color:  #FFF;
          }
          .footer__rule-p{
            margin:0.8rem 0rem;
          }


          .footer__itemsRtght{
            width: 100%;
          }


          .footer__contents {
            /* border-bottom: #fff solid 1px; */
            margin: 0rem 0.8rem 0rem 0.8rem;
            flex-wrap: wrap;
            justify-content: flex-start;
            padding-top: 12rem;
            padding-left:0rem }
          .footer__content {
            margin-top: 1.6rem;
            width: 50%;
            margin-bottom: 0rem; }
          .footer__item {
            padding-bottom: 0.4rem; }
          .footer__h2 {
            padding-bottom: 0.5rem; }
          .footer__white{
            line-height: 2.8rem;
            display: flex;
            justify-content: space-between;
            align-items: center;
            color: #ffffff;
            opacity: 0.8;
          }
          .footer__incLog {
            padding: 0rem 0rem;}

          .sociallogo__footer{
            justify-content: center;
            height: 8rem;
          }
          .footer__container {
            padding:0rem 0.8rem;
            margin: none;
            margin-top: -2rem;
            width: 100%;
            min-width: unset;

          }


    }
